<!-- <div>
    <button mat-raised-button color="primary">Primary</button>

    <mat-button-toggle value="bold" #saif>Bold</mat-button-toggle>
    {{saif.checked}}
</div>

<div>
    <mat-button-toggle-group #toggleGrp = "matButtonToggleGroup">
        <mat-button-toggle value="React">React</mat-button-toggle>
        <mat-button-toggle value="Angular">Angular</mat-button-toggle>
        <mat-button-toggle value="Vue">Vue</mat-button-toggle>
    </mat-button-toggle-group>
    {{toggleGrp.value}}
</div> -->

<div>
    <h1>{{title}}</h1>
    <!-- <img [src]=imgSrc alt=""> -->
</div>

<hr>

<div>
    <button (click)="incrementBtn()">Click</button>
    <h3>Button clicked {{incr}} times</h3>
</div>

<div>
    <input type="text" [ngModel]="name" (ngModelChange)="greetSaif($event)" #inputRefName>
    <h3>Welcome {{name}}</h3>
</div>

<hr>

<app-parent></app-parent>